{% load account %}{% load i18n %}{% autoescape off %}
<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="m_-4722775725788750724bodyTable">
                <tbody><tr>
                    <td align="center" valign="top" id="m_-4722775725788750724bodyCell">
                        <span style="color:#ffffff;display:none;font-size:0px;height:0px;width:0px">You're almost ready to get started!</span>

                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody><tr>
                                <td align="center" bgcolor="#5B008A" valign="top" id="m_-4722775725788750724templateHeader" style="background-color:#5B008A;padding-right:30px;padding-left:30px">

                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:400px" class="m_-4722775725788750724emailContainer">
                                        <tbody><tr>
                                            <td align="center" valign="top" id="m_-4722775725788750724logoContainer" style="padding-top:40px;padding-bottom:40px">
                                                <img alt="MyPoints" src="cid:logo.png" height="63" width="60" style="color:#ffffff;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px;font-weight:400;letter-spacing:-1px;padding:0;margin:0;text-align:center">
                                            </td>
                                        </tr>
                                    </tbody></table>

                                </td>
                            </tr>
                            <tr>
                                <td align="center" bgcolor="#5B008A" valign="top" id="m_-4722775725788750724headerContainer" style="background-color:#5B008A;padding-right:30px;padding-left:30px">
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody><tr>
                                            <td align="center" valign="top">

                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:640px" class="m_-4722775725788750724emailContainer">
                                                    <tbody><tr>
                                                        <td align="center" valign="top">
                                                            <table align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="100%" id="m_-4722775725788750724headerTable" style="background-color:#ffffff;border-collapse:separate;border-top-left-radius:4px;border-top-right-radius:4px">
                                                                <tbody><tr>
                                                                    <td align="center" valign="top" width="100%" style="padding-top:40px;padding-bottom:0">&nbsp;</td>
                                                                </tr>
                                                            </tbody></table>
                                                        </td>
                                                    </tr>
                                                </tbody></table>

                                            </td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" id="m_-4722775725788750724templateBody">
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody><tr>
                                            <td align="center" valign="top">

                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:700px" class="m_-4722775725788750724emailContainer">
                                                    <tbody><tr>
                                                        <td align="right" valign="top" width="30" class="m_-4722775725788750724mobileHide">
                                                            <img src="https://ci4.googleusercontent.com/proxy/L5tUh1OMjnXZ7pML9wTqD_Lpb0aqOQtEIxQdlBZbzz44clEn-1MlZdakDu17kOGBQjhw0qROA1em_M8TlKw1efwKeQyVgVfiWnCSel6n2HkLGJvN_NbbMg=s0-d-e1-ft#http://cdn-images.mailchimp.com/template_images/tr_email/arrow.jpg" width="30" style="display:block" class="CToWUd">
                                                        </td>
                                                        <td valign="top" width="100%" style="padding-right:70px;padding-left:40px" id="m_-4722775725788750724bodyContainer">
                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                <tbody><tr>
                                                                    <td align="left" valign="top" id="m_-4722775725788750724bodyContent" style="padding-bottom:40px">
                                                                        <h1 style="color:#606060;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:30px;font-style:normal;font-weight:600;line-height:42px;letter-spacing:normal;margin:0;padding:0;text-align:center">We're glad you're here, {{email}}.</h1>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" style="padding-bottom:5px" valign="top">
                                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                            <tbody><tr>
                                                                                <td align="center" valign="middle">

                                                                                    <a href="{{activate_url}}" style="background-color:#5B008A;border-collapse:separate;border-top:20px solid #5B008A;border-right:20px solid #5B008A;border-bottom:20px solid #5B008A;border-left:20px solid #5B008A;border-radius:3px;color:#ffffff;display:inline-block;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;font-weight:600;letter-spacing:.3px;text-decoration:none" target="_blank">Activate Account</a>

                                                                                </td>
                                                                            </tr>
                                                                        </tbody></table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" valign="top" style="padding-bottom:40px">
                                                                        <p style="color:#929292;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;font-style:normal;font-weight:400;line-height:42px;letter-spacing:normal;margin:0;padding:0;text-align:center">(Just confirming you're you.)</p>
                                                                    </td>
                                                                </tr>
                                                            </tbody></table>
                                                        </td>
                                                    </tr>
                                                </tbody></table>

                                            </td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" id="m_-4722775725788750724templateFooter" style="padding-right:30px;padding-left:30px">

                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:640px" class="m_-4722775725788750724emailContainer">
                                        <tbody><tr>
                                            <td valign="top" id="m_-4722775725788750724footerContent" style="border-top:2px solid #f2f2f2;color:#484848;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px;font-weight:400;line-height:24px;padding-top:40px;padding-bottom:20px;text-align:center">
                                                <p style="color:#484848;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px;font-weight:400;line-height:24px;padding:0;margin:0;text-align:center">© 2001-2017 MyPoints<sup>®</sup>, All Rights Reserved.<br>Mar del Plata, Argentina. Tierra de los mejores Alfajores</p>
                                                <a href="http://www.mypoints.com.ar" style="color:#373737;text-decoration:underline" class="m_-4722775725788750724utilityLink" target="_blank" >Terms of Use</a><span class="m_-4722775725788750724mobileHide"> &nbsp; • &nbsp; </span><a href="">Privacy Policy</a>
                                            </td>
                                        </tr>
                                    </tbody></table>

                                </td>
                            </tr>
                        </tbody></table>

                    </td>
                </tr>
            </tbody></table>
{% endautoescape %}