<div id="main" class="container empresa" ng-show="isAuthenticated">
  <!-- Contenido principal -->
  <ul class="empresa-menu nav">
		<li style="
    color: white;
    font-size: 20px;
    text-align: center;
">
			 Mi cuenta
		</li>
	</ul>

  <div class="row">
		<div class="col-md-12 empresa-top clearfix">

      <fieldset>
			  <div class="form-group">
              <div class="input-group">
                  <label>Correo:</label>&nbsp;<a href="#" editable-email="profile.email">{{ profile.email }}</a>
              </div>
              <div class="input-group">
                <label>Nombre:</label>&nbsp;<a href="#" editable-text="profile.first_name">{{ profile.first_name || "Nombre"}}</a>
                &nbsp;<a href="#" editable-text="profile.last_name">{{ profile.last_name || "Apellido"}}</a>
              </div>
              <div class="input-group">
                  <label>Telefono:</label>&nbsp;<a href="#" editable-text="profile.phone">{{ profile.phone || "Phone" }}</a>
              </div>
              <div class="input-group">
                  <label>Direccion:</label>&nbsp;<a href="#" editable-text="profile.address">{{ profile.address || "Address" }}</a>
              </div>
              <div class="input-group">
                  <label>Ciudad:</label>&nbsp;<a href="#" editable-text="profile.city">{{ profile.city || "City" }}</a>
              </div>
              <div class="input-group">
                  <label>Provincia:</label>&nbsp;<a href="#" editable-text="profile.state">{{ profile.state || "Provincia" }}</a>
              </div>
              <div class="input-group">
                  <label>Pais:</label>&nbsp;<a href="#" editable-text="profile.country">{{ profile.country || "Country" }}</a>
              </div>

        </div>
		  </fieldset>
    </div>
	</div>
  <button class="btn btn-info width-100" ng-click="update()">Guardar</button>
	<!-- Fin contenido principal -->
  <footer>
  </footer>

</div> <!-- /container -->
