<div id="main" class="container home" ng-show="isAuthenticated">

	<div class="alert alert-fy">
		<p>Operaciones hechas</p>
	</div>

	<ul id="home-menu" class="nav">

    	<li>
			<a href="javascript:;" class="collapsed" data-toggle="collapse" data-target="#toggleEmpresas">
				<i class="glyphicon glyphicon-record"></i> Buscar Transaccion (hash)
				<input type="text" name="input" ng-model="hash_id" required ng-change="find_transaction()">
			</a>

			<div ng-if="!refresh" id="grid1" ui-grid="gridOptions" class="grid" ui-grid-auto-resize ui-grid-selection></div>

		</li>

	</ul>

  <footer>
  </footer>

</div>