<div id="main" class="container login-form" ng-controller="UserCtrl"  ng-show="!isAuthenticated">

      <!-- Contenido principal -->
        <div class="row">
        <div class="col-md-2 col-xs-12 center-block no-float text-center" id="logo-container">
          {{error}}
        </div>
        </div>

        <div class="row">
        <div class="col-md-4 col-xs-9 center-block no-float text-center rounded" id="login-form">
          <form ng-submit="login()">
            <fieldset>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon "><span class="glyphicon glyphicon-envelope"></span></span>
                <input ng-model="user.email"  type="email" id="login-email" class="form-control" placeholder="Email">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                <input ng-model="user.password" type="password" id="login-password" class="form-control" placeholder="Contraseña">
              </div>
            </div>
            <div class="checkbox">
              <label>
              <input type="checkbox"><span class="small-font">Recordarme</span>
              </label>
            </div>
            <button type="submit" class="btn btn-info width-100">Iniciar sesión</button>
            </fieldset>
          </form>
          <p class="m10"><a href="" class="small-font">Recuperar contraseña</a></p>
          <!--<p class="m10"><a ui-sref="register()" class="small-font">Registrar</a></p>-->
        </div>
        </div>
      <footer>
      </footer>
    </div> <!-- /container -->
